{
    "env" : {
        "node": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:arenanet",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "sourceType" : "module"
    }
}